<% define "AboutPage.html" %>` 
На этом сайте Вы сможете пройти тестирование и подготовиться к экзамену КРОК.

Немного обо мне. Меня зовут Роман. По образованию я врач терапевт и музыкант, увлекаюсь музыкой, пением, а также программированием.
Совсем недавно я окончил Харьковский национальный медицинский университет и помню, как, порой, было сложно подготовиться к экзаменам. Каждый день нужно было много запоминать, а учил я часто не рационально, распыляясь сразу на нескольких темах, много раз повторяя те вопросы, которые знал, а до тех вопросов, которые не знал- время могло просто не дойти либо повторял их малое количество раз. Читая тесты, я часто зрительно запоминал, что здесь ответ "В", а в этом вопросе -"А" и после этого вопроса будет "тот", в котором правильный ответ будет "второй", иногда даже не вчитываясь в вопрос, что конечно не имело практического значения в обучении.

Занимаясь программирование я подумал, как бы оптимизировать и автоматизировать обучение, ускорить и улучшить процесс запоминания. Тогда я создал программу с базой данных вопросов для подготовки студентов к экзамену КРОК и несколько лет обновлял её. Были так же и другие онлайн сервисы, на которых можно было готовиться к экзаменам, но они были, на мой взгляд, не полными, и я начал писать этот сайт, пытаясь воплотить мои идеи.
Это заняло немало времени. Каждый раз, когда я добавлял одну функциональность- появлялись новые идеи, которые я хотел реализовать и всё время я был в процессе создания сайта.
Наконец сейчас базовая версия сайта готова и я с удовольствием делюсь моими наработками с вами. Вы можете выбирать базы и конкретно темы, которые хотите учить.Вы можете учить только неправильно отвеченные ранее вопросы, либо только не отвеченные. Можете выбрать случайный порядок отображения вопросов. Варианты идут в произвольном порядке.
Каждый день сайт расширяется и улучшается. Вы можете помочь, скидывая мне материалы, которые могли бы быть полезны в обучении другим людям. Сайт универсальный и вы можете присылать базы любой тематики и я их размещу. Вы можете высказывать своё мнение по дополнению или улучшению сайта. Вы так же можете помочь финансово, если сайт Вам очень помог :)
После регистрации Вы сможете проходить тестирование по медицинским дисциплинам, подготавливаясь к экзамену КРОК 
Базы будут расширятся.
Ваши результаты сохраняются. Вы можете фильтровать вопросы в зависимости от того, как Вы на них ранее отвечали а так же по определённым дисциплинам.
Можно отобразить вопросы в случайном порядке и видеть, как Вы ответили на выбранный вопрос.

Я приятно удивлён, что ежедневно на сайте регистрируются несколько десятков человек, хотя я создал его совсем недавно. Если Вас заинтересовал сайт- посоветуйте его друзьям и готовьтесь к экзаменам более продуктивно. 
В дальнейшем я добавлю вариант экзамена. Администраторы смогут создавать экзамены, гибко фильтруя вопросы, указывать время начала и окончание экзамена и назначать их своим студентам. Им будут доступны результаты экзаменов студентов,за которыми они смогут наблюдать в режиме реального времени. 
Планирую расширить сайт до социальной сети студентов, где бы они могли обмениватся информацией, комментируя вопросы и объясняя друг другу,при необходимости, значения ответов. Так же будет создан чат обсуждения вопросов и баз данных в целом. 
Учитесь, запоминайте, экспериментируйте, стремитесь к новому, несмотря ни на что, и Вы достигнете Ваших целей.
Удачи.
Роман Ракзин
`<% end %>