<% define "IndexPage.html" %>
    <div id="app">
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #42B983;border-radius:0px; height:50px;">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " v-link="{ path: '/',activeClass: 'active-link-nav', append: true}">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" v-link="{ path: '/sale',activeClass: 'active-link-nav', append: true}">Дать объявление</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" v-link="{ path: '/forum',activeClass: 'active-link-nav', append: true}">Форум</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" v-link="{ path: '/about',activeClass: 'active-link-nav', append: true}">О сайте</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button @click="Sale.show()">1111</button>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" @click="Sale.show">{{UserName}} - {{MyParam2}}</button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#" v-link="{ path: '/'}" v-on:click="logout();">Выход {{UserName}}</a></li>
                        </ul>
                    </div>
                </li>

            </ul>

        </nav>
        <div style="margin:28px 1px -22px 1px ;">
            <div style="background-color:#E7F0EA; margin-top:50px;">
                <router-view></router-view>
            </div>
        </div>
    </div>
    <% end %>